<html>

	<head>
		<title>CUSTUMER</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body>


<div class="container">
<form >
<div class="col-sm-10 text-center" style="background:silver">


  <h2><u>CUSTUMER</u></h2>



    <div class="row form-group form-horizontal">
          
          <div class="col-sm-3 text-right">
          <label>Name of CUSTOMER</label> 
            </div>

            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="customername" placeholder="Enter name">
          </div>

          <div class="col-sm-3 text-right">
          <label>Contact Number</label> 
            </div>

            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productprice" placeholder="Enter Contact">
          </div>
    </div>

    <div class="row form-group">
          <div class="col-sm-3 text-right">
          <label>Address</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productcode" placeholder="Enter Address">
          </div>
            <div class="col-sm-3 text-right">
          <label>........</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productid" placeholder=".......">
          </div>

    </div>


     <div class="row form-group">
          <div class="col-sm-3 text-right">
          <label>.....</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productcolour" placeholder=".......">
          </div>

          <div class="col-sm-3 text-right">
          <label>.........</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productqty" placeholder=".......">
          </div>
    </div>
   
    
  

    <div class="row">
    <div class="col-sm-6 ">
      <button type="submit" class="btn btn-success">Submit</button>
  </div>
  <div class="col-sm-6">
      <button type="reset" class="btn btn-warning">Reset</button>
  </div>

</form>

</div>

</div>




</body>
</html>