<html>

	<head>
		<title>Product</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}

form.ng-pristine {
    background-color: lightblue;
}
form.ng-dirty {
    background-color: green;
}
</style>
	</head>
<body ng-app="">


<div class="container">
<form name="myForm" method="post">
<div class="col-sm-10 text-center" style="background:silver">


  <h2><u>PRODUCT</u></h2>



    <div class="row form-group form-horizontal">
          
          <div class="col-sm-3 text-right">
          <label>Name of product</label> 
            </div>

            <div class="col-sm-3">
          <input type="text" class="form-control" name="productName" ng-model="productName" placeholder="Entername" required> 
        <!--  <span ng-show="myForm.productName.$touched && myForm.productName.$invalid">The name is required.</span> -->

      
    
          </div>

          <div class="col-sm-3 text-right">
          <label>Price</label> 
            </div>

            <div class="col-sm-3">
          <input type="text" class="form-control" name="productPrice" ng-model="productPrice" placeholder="Enter price" required>
         
          </div>
    </div>

    <div class="row form-group">
          <div class="col-sm-3 text-right">
          <label>Code</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productcode" placeholder="Enter Code" required>
          </div>
            <div class="col-sm-3 text-right">
          <label>Model</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productid" placeholder="Enter model" required>
          </div>

    </div>


     <div class="row form-group">
          <div class="col-sm-3 text-right">
          <label>Make</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productColour" placeholder="Enter company" required>
             <span ng-show="myForm.product.$invalid">The Colour is required.</span>
         
          </div>

          <div class="col-sm-3 text-right">
          <label>Quantity </label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" name="productQty" ng-model="productQty" placeholder="Enter Quantity" required>

          
          </div>
    </div>
   
    
  

    <div class="row">
    <div class="col-sm-6 ">
      <button type="submit" ng-disabled="myForm.productName.$dirty && myForm.productName.$invalid" ng-model="" ng-click=" " class="btn btn-success">Submit</button>
  </div>
  <div class="col-sm-6">
      <button type="reset" class="btn btn-warning">Reset</button>
  </div>

</form>


</div>

</div>




</body>
</html>