<html ng-app="stock">

<head>
<title>Products</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-controller="stockController">
	

<form>
<div class="container">
  <h2>PRODUCTS</h2>
  

  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg1" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

   
  
	 <div class="col-md-6">
	      <div class="thumbnail"> 
	          <img ng-model="myimg1" src="ik.png" alt="product" style="width:100%">
	          <div class="caption">
	            <p>
	            	<input type="text" ng-model="product1">
	            </p>
	          </div>
	      </div>
	    </div>
	</div>


</div>

  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg3" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

   
  
 <div class="col-md-6">
      <div class="thumbnail">
          <img ng-model="myimg4" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

 </div>

 
   <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
          <img ng-model="myimg5" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

   
  
 <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg6" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

 </div>

 
   <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
          <img ng-model="myimg7" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

   
  
 <div class="col-md-6">
      <div class="thumbnail">
          <img ng-model="myimg8" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

 </div>

 
   <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg9" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

   
  
 <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg10" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

 </div>

 
   <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg11" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

   
  
 <div class="col-md-6">
      <div class="thumbnail">
       
          <img ng-model="myimg12" src="ik.png" alt="product" style="width:100%">
          <div class="caption">
            <p>
            	<input type="text" ng-model="product1">
            </p>
          </div>
      </div>
    </div>

 </div>

 

</form>

</body>
</html>

