<html>

	<head>
		<title>Product</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body>


<div class="container">
<form >
<div class="col-sm-10 text-center" style="background:silver">


  <h2>PRODUCT</h2>



    <div class="row form-group form-horizontal">
          
          <div class="col-sm-3 text-right">
          <label>Name of product</label> 
            </div>

            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productname" placeholder="Enter name">
          </div>

          <div class="col-sm-3 text-right">
          <label>Price</label> 
            </div>

            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productprice" placeholder="Enter price">
          </div>
    </div>

    <div class="row form-group">
          <div class="col-sm-3 text-right">
          <label>Code</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productcode" placeholder="Enter Code">
          </div>
            <div class="col-sm-3 text-right">
          <label>Model</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productid" placeholder="Enter model">
          </div>

    </div>


     <div class="row form-group">
          <div class="col-sm-3 text-right">
          <label>Make</label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productcolour" placeholder="Enter company">
          </div>

          <div class="col-sm-3 text-right">
          <label>Quantity </label> 
            </div>
            <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="productqty" placeholder="Enter Quantity">
          </div>
    </div>
   
    
  

    <div class="row">
    <div class="col-sm-6">
      <button type="submit" class="btn btn-default">Submit</button>
  </div>
  <div class="col-sm-6">
      <button type="reset" class="btn btn-default">Reset</button>
  </div>

</form>

</div>

</div>




</body>
</html>