<!DOCTYPE html>
<html ng-app="myapplication">
<head>
	<title>changeback groung color</title>
	
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script src="myapplication.js">
	</script>
</head>
<body ng-controller="myapplicationController">

<ul> 
<li ng-repeat="item in list | filter:search">
    
    
  {{item.name}}-{{item.age}}
    </li>
</ul>


	
<form>
			<input type="text" ng-model="search" placeholder="search">
</form>

<form ng-submit="addPerson()">
  
  <input type="text" name="text1" ng-model="text1">
  <input type="text" name="text2" ng-model="text2">
  <input type="button" name="btn" value="Submit">
	
</form>
</body>

</html>